---
# code: language=ansible
- name: Redmine verify environment
  hosts: all
  become: true
  gather_facts: true
  pre_tasks:
    - name: Verify required environment variables are set
      ansible.builtin.assert:
        that: lookup('env', var_name) | length > 1
        quiet: true
        fail_msg: "Environment variable '{{ var_name }}' is not defined or empty"
      loop: "{{ assert_environments | default([]) }}"
      loop_control:
        loop_var: var_name
        label: "{{ var_name }}"
    - name: Modernize apt sources to deb822 format
      ansible.builtin.command:
        cmd: apt modernize-sources -y
        removes: /etc/apt/sources.list
    - name: Update Debian repository mirror to Japanese server
      ansible.builtin.replace:
        path: /etc/apt/sources.list.d/debian.sources
        regexp: 'http://.*\.debian\.org/debian/'
        replace: "http://ftp.jp.debian.org/debian/"
    # - name: Lifecycle prepare process
    #   ansible.builtin.import_role:
    #     name: lifecycle
    #     tasks_from: prepare
    #   tags: lifecycle_prepare
  roles:
    - role: common
      tags: role_common
    - role: nodejs
      tags: role_nodejs
    - role: opendkim
      tags:
        - role_dkim
        - role_opendkim
    - role: mariadb
      tags: role_mariadb
    - role: redis
      tags: role_redis
    - role: dehydrated
      tags: role_dehydrated
    - role: nginx
      tags: role_nginx
    - role: redmine
      tags: role_redmine
    - role: tools
      tags: role_tools
    - role: logrotate
      tags: role_logrotate
    - role: backup
      tags: role_backup
    - role: mackerel_agent
      tags:
        - role_mackerel
        - role_mackerel_agent
        - role_monitoring
    ## ------------------------
    ## ローカル検証環境用
    ## ------------------------
    - role: spamassassin
      tags: role_spamassassin
    - role: mailpit
      tags: role_mailpit
  tasks:
    - name: Allow mailpit port
      community.general.ufw:
        rule: allow
        port: 8025
    - name: Change parmission
      ansible.builtin.file:
        path: /home/vagrant
        mode: "0755"
    - name: Setup custom script
      tags: custom_script
      block:
        - name: Find custom sctipts
          ansible.builtin.set_fact:
            custom_scripts: "{{ lookup('fileglob', 'custom_scripts/*.sh', wantlist=True) }}"
            custom_script_templates: "{{ lookup('fileglob', 'custom_scripts/*.sh.j2', wantlist=True) }}"
        - name: Install custom scripts
          when: custom_scripts | length > 0 or custom_script_templates | length > 0
          become: false
          block:
            - name: Create custom script directory
              ansible.builtin.file:
                path: ~/bin
                state: directory
                mode: "0755"
            - name: Deploy custom script
              ansible.builtin.copy:
                src: "{{ custom_script }}"
                dest: ~/bin/{{ (custom_script | basename)[:-3] }}
                mode: "0755"
              loop: "{{ custom_scripts }}"
              loop_control:
                loop_var: custom_script
                label: "{{ (custom_script | basename)[:-3] }}"
            - name: Deploy custom script template
              ansible.builtin.template:
                src: "{{ custom_script_template }}"
                dest: ~/bin/{{ (custom_script_template | basename)[:-6] }}
                mode: "0755"
              loop: "{{ custom_script_templates }}"
              loop_control:
                loop_var: custom_script_template
                label: "{{ (custom_script_template | basename)[:-6] }}"
    - name: Lifecycle finalize process
      ansible.builtin.import_role:
        name: lifecycle
        tasks_from: finalize
      tags: lifecycle_teardown
  post_tasks:
    - name: Lifecycle teardown process
      ansible.builtin.import_role:
        name: lifecycle
        tasks_from: teardown
      tags: lifecycle_teardown
    - name: Restart services
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        state: restarted
      loop:
        - mariadb
        - redmine
        - nginx
      tags: always
