---
# code: language=ansible
- name: Redmine verify environment
  hosts: all
  become: true
  gather_facts: true
  pre_tasks:
    - name: Update package cache
      ansible.builtin.apt:
        update_cache: true
  roles:
    - name: common
      tags: role_common
    - name: nodejs
      tags: role_nodejs
    - name: mariadb
      tags: role_mariadb
    - name: dehydrated
      tags: role_dehydrated
    - name: nginx
      tags: role_nginx
    - name: mailpit
      tags: role_mailpit
    - name: spamassassin
      tags: role_spamassassin
    - name: tools
      tags: role_tools
    - name: redmine
      tags: role_redmine
    - name: backup
      tags: role_backup
    - name: font
      tags: role_font
    - name: document
      tags: role_docment
      become: false
    - name: other
      tags: role_other
      become: false
  tasks:
    - name: Allow mailpit port
      community.general.ufw:
        rule: allow
        port: 8025
    - name: Setup custom script
      tags: custom_script
      block:
        - name: Find custom sctipts
          ansible.builtin.set_fact:
            custom_scripts: "{{ lookup('fileglob', 'custom_scripts/*.sh', wantlist=True) }}"
            custom_script_templates: "{{ lookup('fileglob', 'custom_scripts/*.sh.j2', wantlist=True) }}"
        - name: Install custom scripts
          when: custom_scripts | length > 0 or custom_script_templates | length > 0
          become: false
          block:
            - name: Create custom script directory
              ansible.builtin.file:
                path: ~/bin
                state: directory
                mode: "0755"
            - name: Deploy custom script
              ansible.builtin.copy:
                src: "{{ custom_script }}"
                dest: ~/bin/{{ (custom_script | basename)[:-3] }}
                mode: "0700"
              loop: "{{ custom_scripts }}"
              loop_control:
                loop_var: custom_script
                label: "{{ (custom_script | basename)[:-3] }}"
            - name: Deploy custom script template
              ansible.builtin.template:
                src: "{{ custom_script_template }}"
                dest: ~/bin/{{ (custom_script_template | basename)[:-6] }}
                mode: "0700"
              loop: "{{ custom_script_templates }}"
              loop_control:
                loop_var: custom_script_template
                label: "{{ (custom_script_template | basename)[:-6] }}"
  post_tasks:
    - name: Restart services
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        state: restarted
      loop:
        - redmine
        - mariadb
        - nginx
