---
# code: language=ansible
- name: Redmine verify environment
  hosts: all
  become: true
  gather_facts: true
  pre_tasks:
    - name: Update package cache
      ansible.builtin.apt:
        update_cache: true
  roles:
    - role: common
      tags: role_common
    - role: nodejs
      tags: role_nodejs
    - role: mariadb
      tags: role_mariadb
    - role: dehydrated
      tags: role_dehydrated
    - role: nginx
      tags: role_nginx
    - role: mailpit
      tags: role_mailpit
    - role: spamassassin
      tags: role_spamassassin
    - role: tools
      tags: role_tools
    - role: redmine
      tags: role_redmine
    - role: font
      tags: role_font
    - role: document
      tags: role_docment
      become: false
    - role: other
      tags: role_other
      become: false
  tasks:
    - name: Allow mailpit port
      community.general.ufw:
        rule: allow
        port: 8025
  post_tasks:
    - name: Restart services
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        state: restarted
      loop:
        - redmine
        - mariadb
        - nginx
