### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### VirtualEnv ###
.venv

### Vagrant ###
.vagrant/

### Ansible ###
*.retry

## cache ###
.ansible
.cache

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/cspell.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/dictionaries/*.txt

### PhpStorm / WebStorm ###
.idea/

### Composer ###
composer.phar
/vendor/

### Node ###
/node_modules/

## Ruby ##
/.bundle/

### mkdocs ###
/site/

### direnv ###
.direnv
.envrc

### dotenv ###
.env

### common ###
.cache/

### this project only ###
provision/host_vars/default.yml
**/dns_info/
provision_config.yml
server_info.md
docs/api/
docs/rest_api/
docs/schema/
