[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-tooltips = "*"
mkdocs-section-index = "*"
mkdocs-literate-nav = "*"
mkdocs-glightbox = "*"
mkdocs-git-revision-date-localized-plugin = "*"

[dev-packages]
