---
## --------------------
## Redmineのバージョン
## --------------------
redmine_version: 5.1-stable

## --------------------
## 追加インストールするgemパッケージ
## --------------------
# redmine_gemfile_local_packages:
#   yard:
#   rails-erd:

## --------------------
## config/configuration.ymlの設定
## --------------------
redmine_cfg:
  default:
    sudo_mode: true
    sudo_mode_timeout: 15
    ## メール送信設定
    email_delivery:
      delivery_method: :smtp
      smtp_settings:
        address: localhost
        port: 1025

## --------------------
## インストールするテーマ
## --------------------
redmine_themes:
  PurpleMine2:
    repo: https://github.com/mrliptontea/PurpleMine2.git
    version: master

## --------------------
## インストールするプラグイン
## --------------------
redmine_plugins:
  redmine_dashboard:
    repo: https://github.com/jgraichen/redmine_dashboard.git
    version: main
  redmine_message_customize:
    repo: https://github.com/farend/redmine_message_customize.git
    version: master
  view_customize:
    repo: https://github.com/onozaty/redmine-view-customize.git
    version: master
  redmine_issue_templates:
    repo: https://github.com/agileware-jp/redmine_issue_templates.git
    version: master
  redmica_ui_extension:
    repo: https://github.com/redmica/redmica_ui_extension.git
    version: master
  redmine_drawio:
    repo: https://github.com/mikitex70/redmine_drawio.git
    version: master
  redmine_slack:
    repo: https://github.com/cat-in-136/redmine-slack.git
    version: evolved
  additionals:
    repo: https://github.com/AlphaNodes/additionals.git
    version: stable
  redmine_sudo:
    repo: https://github.com/AlphaNodes/redmine_sudo.git
    version: stable

## --------------
## バーチャルホストの設定
## --------------
nginx_vhosts:
  # --------------
  # Simple static site
  # --------------
  - name: default
    default: true
    server_name: redmine.local
    upstream:
      name: redmine
      content: |
        server unix:///opt/redmine/tmp/redmine.sock;
    client_max_body_size: 100M
    locations:
      - pattern: /.well-known/acme-challenge/
        match_type: ^~
        content: |
          default_type "text/plain";
          alias /var/lib/dehydrated/acme-challenges/;
      - pattern: /
        content: |
          proxy_pass http://redmine;
          include proxy_params;
      - pattern: "/\\.ht"
        match_type: "~"
        content: "deny all;"

## --------------
## maipitの環境変数の設定
## --------------
mailpit_envs:
  MP_ENABLE_SPAMASSASSIN: "127.0.0.1:783"

## --------------------------
## インストールするツール
## --------------------------
install_tools:
  # https://direnv.net/
  - direnv
  ## https://github.com/eza-community/eza
  - eza
  ## https://github.com/k1LoW/tbls
  - tbls
  ## https://github.com/terrastruct/d2
  - d2
  ## https://github.com/google/osv-scanner
  - osv-scanner
  ## https://www.mycli.net/
  - mycli
  ## https://graphviz.org/
  - graphviz
  ## https://github.com/jgm/pandoc
  - pandoc
  ## https://plantuml.com/ja/
  - plantuml
